/.vs/
bin/*
obj/

!bin/*/clidriver/bin/*

*.csproj.user
/ViennaNET.sln.DotSettings.user
/packages/

*/bin/Debug/*

*/bin/*

/Visual Studio 2019/*
/paket.lock

/TestResult/
bin

NuGet.Config

*/TestResult/*
