name: Default ViennaNET release pipeline
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - 'feature/**'
      - 'bug/**'
      - 'hotfix/**'
      - 'refactoring/**'
  release:
   types:
    - released
jobs:
  default:
    name: Default Job
    runs-on: ubuntu-latest
    env:
      PROJECT_KEY: 'Raiffeisen-DGTL_ViennaNET'
      PROJECT_NAME: 'ViennaNET.sln'

    steps:
      - name: Setup GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: '5.x'

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'

      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v1
        with:
          path: ./.sonar/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        run: |
          mkdir -p -v ./.sonar/scanner
          dotnet tool update dotnet-sonarscanner --tool-path ./.sonar/scanner

      - name: Calculate version
        uses: gittools/actions/gitversion/execute@v0.9.7

      - name: Begin SonarCloud scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_ORG: 'raiffeisen-dgtl'
          SONAR_HOST_URL: https://sonarcloud.io
        run: |
          ./.sonar/scanner/dotnet-sonarscanner begin \
              /k:$PROJECT_KEY \
              /o:$SONAR_ORG \
              /v:$GITVERSION_SEMVER \
              /n:$PROJECT_NAME \
              /d:sonar.login=$SONAR_TOKEN \
              /d:sonar.host.url=$SONAR_HOST_URL \
              /d:sonar.cs.nunit.reportsPaths="**/TestResult/TestResults*.xml" \
              /d:sonar.cs.opencover.reportsPaths="**/TestResult/coverage.opencover.xml"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: |
          dotnet build $PROJECT_NAME \
            -c Release \
            --no-restore \
            --nologo \
            /p:Company=Raiffeisenbank \
            /p:Product=ViennaNET \
            /p:AssemblyVersion=$GITVERSION_ASSEMBLYSEMVER \
            /p:FileVersion=$GITVERSION_ASSEMBLYSEMFILEVER \
            /p:InformationalVersion=$GITVERSION_INFORMATIONALVERSION

      - name: Test
        run: |
          dotnet test $PROJECT_NAME \
            -c Release \
            -r '${{ github.workspace }}/reports' \
            --no-build \
            --nologo \
            --logger "nunit;LogFilePath=TestResult-{assembly}.xml" \
            /p:CollectCoverage=true \
            /p:CoverletOutputFormat=\"opencover\" \
            /p:CoverletOutput=TestResult/

      - name: End sonarscanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./.sonar/scanner/dotnet-sonarscanner end /d:sonar.login=$SONAR_TOKEN

      - name: Pack
        if: github.event_name == 'release'
        run: dotnet pack $PROJECT_NAME -c Release -o ./nupkgs --nologo --no-build -p:PackageVersion=$GITVERSION_NUGETVERSIONV2

      - name: Push nuget packages
        if: github.event_name == 'release'
        env:
          NUGET_URL: https://api.nuget.org/v3/index.json
        run: dotnet nuget push ./nupkgs/**/*.nupkg -s $NUGET_URL -k ${{secrets.NUGETKEY}} --skip-duplicate --no-symbols true